[Unit]
Description=Phoniebox MQTT Client Service
After=network.target iptables.service firewalld.service

[Service]
User=phonie
Group=phonie
Restart=always
RestartSec=10
WorkingDirectory=/home/phonie/phoniebox
ExecStart=/home/phonie/phoniebox/scripts/daemon_mqtt_client.py

[Install]
WantedBy=multi-user.target
