[Unit]  
Description=Phoniebox Idle Watchdog Countdown Service

[Service]
User=phonie
Group=phonie
Type=simple
WorkingDirectory=/home/phonie/phoniebox
ExecStart=/home/phonie/phoniebox/scripts/idle-watchdog-countdown.sh

[Install]
WantedBy=multi-user.target
