[Unit]
Description=Phoniebox Startup
After=mpd.service

[Service]
User=phonie
Group=phonie
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/home/pi/RPi-Jukebox-RFID
ExecStart=/bin/bash /home/phonie/phoniebox/scripts/startup-scripts.sh

[Install]
WantedBy=multi-user.target
