[Unit]
Description=Phoniebox Startup Sound
After=mpd.service

[Service]
User=phonie
Group=phonie
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/home/pi/RPi-Jukebox-RFID
ExecStartPre=/home/phonie/phoniebox/scripts/playout_controls.sh -c=setvolumetostartup
ExecStart=/bin/sleep 2
ExecStartPost=/usr/bin/mpg123 /home/phonie/phoniebox/shared/startupsound.mp3

[Install]
WantedBy=multi-user.target
