[Unit]
Description=LCD Matrix Display Service
After=network.target phoniebox-rfid-reader.service

[Service]
User=phonie
Group=phonie
Restart=always
WorkingDirectory=/home/phonie/phoniebox
ExecStart=/home/phonie/phoniebox/components/displays/HD44780-i2c/i2c_lcd.py

[Install]
WantedBy=multi-user.target
